
services: 
    postgresdb:
        image: postgres:17
        container_name: postgresdb8
        restart: always
        env_file:
        - .env.example
        ports:
        - "5432:5432"
        volumes:
        - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: