

/*
  DEFINIÇÃO DE VARIÁVEIS (Obrigatórias)
*/
:root {
  /* cores de profundidade */
  --bg-color: hsl(0deg, 0%, 90%);
  --items-color: hsl(0deg, 0%, 95%);
  --action-color: hsl(0deg, 0%, 100%);
  --accent-color: rgb(51, 130, 142);
  --contrast-color: rgb(77, 178, 119);

  /* cores de status */
  --stable-color: hsl(120deg, 29%, 50%);
  --attention-color: hsl(55deg, 60%, 50%);
  --alert-color: hsl(0deg, 50%, 50%);

  /* textos */
  --text-default: hsl(0deg, 0%, 0%);
  --text-mute: hsl(0deg, 0%, 50%);
  --default-stroke: hsl(0deg, 0%, 40%);

  /* outros */
  --sub-color: hsl(0deg, 0%, 85%);

  /* Sombras */
  --default-shadow: inset 0px 4px 12px hsla(0deg, 0%, 100%, 0.2),
    2px 2px 16px hsla(0deg, 0%, 0%, 0.16);

  /* Variáveis locais do projeto */
  --font-family: "Roboto", sans-serif;
  --sidebar-width: 260px;
  --header-height: 70px;
  --card-radius: 16px;
  --input-radius: 8px;
}